body {
  text-align: center;
  background-color: #ccc;
  font-family: "Poppins", sans-serif;
}
.addForm {
  width: 600px;
  margin: 0 auto;
  display: flex;
  margin: 100px auto;
}
textarea {
  width: 100%;
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border-radius: 10px;
}
.addForm form {
  display: flex;
  align-items: center;
  gap: 10px;
}
.addForm form button {
  padding: 10px 15px;
  outline: none;
  border: none;
  background: #000;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  width: 100px;
  font-weight: 600;
}
ul {
  width: 500px;
  margin: 0 auto;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
li button {
  padding: 10px 20px;
  background-color: #eb6d6d;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 800;
}
